* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* primary section */
.button-2 {
  width: 160px;
  height: 64px;
  background-color: rgb(236, 236, 243);
  color: rgba(46, 146, 240, 0.959);
  font-weight: 600;
  font-size: 25px;
  border: 1px solid rgba(20, 20, 236, 0.685);
  border-radius: 12px;
  box-shadow: 1px 1px 5px #212227bb;
  cursor: pointer;
}
.button-1 {
  width: 160px;
  height: 64px;
  background-color: rgb(38, 38, 236);
  color: aliceblue;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  box-shadow: 1px 1px 5px #0b5fbe;
  cursor: pointer;
}
.button-1:hover {
  color: rgb(38, 38, 236);
  background-color: #fdfdfd;
  border: 1px solid #1277eb;
  box-shadow: 1px 1px 5px #0e4a8fc7;
}
.button-2:hover {
  background-color: rgb(24, 209, 255);
  color: #fdfdfd;
}
/* header part */
.header {
  background-image: url("../images/banner/banner2.png");

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: right;
  color: #151414;
}
.header-text-part {
  padding-right: 200px;
  padding-left: 845px;
}
.header-title {
  font-weight: 700;
  font-size: 60px;
  padding-top: 50px;
  align-items: center;
}
.header-dis {
  color: #444343;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* previous year section */
main {
  width: 1140px;
  margin: auto;
}
.abouts-previous-year {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 80px;
  gap: 50px;
}

.about-year-title {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 30px;
  color: #1f1d1dec;
}
.about-year-dis {
  font-size: 17px;
  color: #737272;
}
.about-year li {
  align-items: center;
  margin: 15px 0 0 50px;
  color: #737272;
}

/* previous year section end */

/* new year setion start */

.new-year-plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.about-new-year-plan {
  margin: 120px 80px 0;
}
.new-year-title {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 20px;
  color: #1f1d1dec;
}
.new-year-dis {
  font-size: 17px;
  color: #737272;
  margin-bottom: 10px;
}
.new-year-plan-list {
  align-items: center;
  margin: 15px 0 0 50px;
  color: #737272;
}
/* my plans section */
.my-plans {
  display: flex;
  justify-content: space-around;
}
.about-my-plans {
  margin: 150px 0 80px;
}
.about-my-plans h1 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 40px;
}
.my-plans h4 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 15px;
}
.my-plans p {
  color: #737272;
  font-weight: 500;
  font-size: 18px;
  margin-top: 6px;
}

/* calling part */
.caller-section {
  width: 1140px;
  background-image: linear-gradient(to right, #0e1ce2f5 0%, #f15b2200 100%),
    url("../images/watch.png");
  height: 300px;
  margin-top: 150px;
  border-radius: 5px;
}
.about-caller-section {
  padding: 60px 30px;
  align-items: center;
  margin: 0 620px 0 0;
}
.caller-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  align-items: center;
  margin-bottom: 20px;
}

/* footer */

.footer {
  margin-top: 120px;
}
.footer-container {
  background-color: #080808;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70vh;
  align-items: center;
}
.footer-abouts {
  align-items: center;
}
.footer-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 25px;
  color: #a09e9ef3;
}
.footer-discription {
  color: #929191f3;
  font-size: 18px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

/* footer right side form */
.footer-form form {
  padding-top: 20px;
}
form {
  display: block;
}
form input[type="email"] {
  padding: 17px 35px;
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: #c5c4c4;
  border: none;
}
form input[type="submit"] {
  border: none;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  color: #073264e8;
  background-color: rgb(196, 194, 194);
  box-shadow: 1px 1px 5px rgba(36, 45, 170, 0.815);
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #136dd4e8;
  color: #e9dfdf;
  box-shadow: 1px 1px 5px #101083e8;
}
.footer-form-title {
  font-weight: 500;
  font-size: 25px;
  color: #b8b5b5;
  margin-bottom: 30px;
}
